<%= render "shared/second-header"%>

<%= form_with class: 'registration-main', model: @user , url: edit_user_path(current_user), method: :get, local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      マイページ
    </h1>
  </div>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">ニックネーム</label>
    </div>
    <div class='input-name-wrap'>
      <h1><%= @user.nickname %></h1>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
    </div>
    <div class='input-name-wrap'>
      <h1><%= @user.email %></h1>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前(全角)</label>
    </div>
    <div class='input-name-wrap'>
    <h1><%= @user.last_name %> <%= @user.first_name %></h1>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">お名前カナ(全角)</label>
    </div>
    <div class='input-name-wrap'>
        <h1><%= @user.last_name_kana %> <%= @user.first_name_kana %></h1>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">生年月日</label>
    </div>
    <div class='input-name-wrap'>
      <h1><%= @user.birthday %></h1>
    </div>
  </div>

  <div class="form-group">
  </div>

  <div class="form-group">
  </div>

  <div class='register-btn'>
    <%= f.submit "会員情報の編集" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>

<%= form_with class: 'registration-main', url: user_card_path(current_user), method: :delete, local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      カード情報
    </h1>
  </div>


  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">【カード番号】</label>
    </div>
    <div class='input-name-wrap'>
      <h1><%= "**** **** **** " + @card[:last4] %></h1>
    </div>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">【有効期限】</label>
    </div>
    <div class='input-name-wrap'>
      <h1><%= @card[:exp_month] %>
    <%# 有効期限の「月」を取得 %>
    /
    <%= @card[:exp_year] %></h1>
    </div>
  </div>
  <div class="form-group">
  </div>
  <div class="form-group">
  </div>
  <div class='register-btn'>
    <%= f.submit "カード情報の削除" ,class:"register-red-btn" %>
  </div>
  <p class='register-info'>本人情報の登録について</p>
</div>
<% end %>




<%= render "shared/second-footer"%>

